.appBar {
  background: transparent;
  box-shadow: none;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.navBox {
  display: flex;
  gap: 24px;
  align-items: center;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 604px;
  background: linear-gradient(99.53deg, #ffffff 30%, #6997ed55 100%);
}

.bgTextContainer {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.criteria {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 24px;
}
