$color-primary-dark: #0b1f56;
$color-primary-light: #6997ed;
$color-white: #ffffff;

$color-secondary-teal: #4eb9be;
$color-secondary-gray: #878f9e;
$color-secondary-beige: #dbd69d;
$color-secondary-green: #45a76a80;
$color-secondary-red: #bc000380;

$font-heading: "DM Sans", sans-serif;
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-light: 300;

$font-body: "Poppins", sans-serif;
$font-weight-body: 300;
